name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  pipeline:
    name: Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        libs:
          - storybook-addon-badges

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: actions/cache@v2
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --non-interactive --frozen-lockfile

      - name: Lint - ${{ matrix.libs }}
        run: yarn nx lint ${{ matrix.libs }}

      - name: Unit Test - ${{ matrix.libs }}
        run: yarn nx test ${{ matrix.libs }} --codeCoverage

      - name: Build Library - ${{ matrix.libs }}
        run: yarn nx build ${{ matrix.libs }}

      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: coverage
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

      - name: Post test coverage - ${{ matrix.libs}}
        if: ${{ failure() }}
        uses: romeovs/lcov-reporter-action@v0.2.16
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          lcov-file: ./coverage/libs/${{ matrix.libs }}/lcov.info
